<div class="residence-carousel">
  <h2>🏠 Favoris</h2>
  <ul>
    <li *ngFor="let fav of favoritesList">{{ fav.name }}</li>
  </ul>
  <!-- Flèche gauche -->
  <button class="arrow left" (click)="scrollLeft()">&#10094;</button>

    </div>

  <!-- Wrapper des résidences -->
  <div class="residence-wrapper" #carousel>
    <div *ngFor="let residence of listResidences" class="residence-item">
      <h2>{{ residence.name }}</h2>
      <p>
        Status:
        <ng-container [ngSwitch]="residence.status">
          <span *ngSwitchCase="'Disponible'" class="available">🟢 Disponible</span>
          <span *ngSwitchCase="'En Construction'" class="construction">🏗️ En Construction</span>
          <span *ngSwitchCase="'Vendu'" class="sold">🔴 Vendu</span>
          <span *ngSwitchDefault>❓ Statut Inconnu</span>
        </ng-container>
      </p>

      <img [src]="residence.image" alt="{{ residence.name }}" />
      <button (click)="showLocation(residence)">Show Location</button>
      <button (click)="addToFavorites(residence)">❤️ Favoris</button>


  <!-- Flèche droite -->
  <button class="arrow right" (click)="scrollRight()">&#10095;</button>

</div>
